/*--- CSS VARS ---*/
:root {
  --colors-light-grey: #7c7c7c;
  --colors-dark-grey: #21212c;
  --colors-sky-blue: #337ab7;
  --colors-dark-blue: #164269;
  --colors-sea-green: #1a9181;
  --colors-sand-white: #e0dfcd;
  --fonts-family-main: Helvetica, "Lato", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial,
    sans-serif;
  --fonts-p-nm: 135%;
  --fonts-p-lg: 148%;
  --fonts-h2-nm: 115%;
  --fonts-h2-lg: 300%;
  --fonts-h1-nm: 115%;
  --fonts-h1-lg: 300%;
  --fonts-h1-title: 400%;
  --img-header: url("https://raw.githubusercontent.com/CodeSigils/exp-repo/master/tribute-page/img/voyagedhermes_moebius_07.png");
  --img-pattern: url("https://raw.githubusercontent.com/CodeSigils/exp-repo/master/tribute-page/img/patterns/topography.png");
  --img-width: 22em;
  --img-text-space: 20px;
  --img-border-radius: 5px;
  --img-zoom-scale: scale(1.4);
  --img-zoom-speed: all 1s ease;
  --browser-translate: translateY(0px);
}

/*-- Basic Reset --*/
body,
html{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*-- Smooth Scrolling --*/
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/*--- Main and links ---*/
#main {
  background-image: var(--img-pattern);
  padding-top: 50px;
  font-family: var(--fonts-family-main);
}

#main a,
a {
  text-decoration: none;
  border: none;
  outline: none;
}

#main a:link,
a:link {
  color: var(--colors-sky-blue);
}

#main a:hover,
a:hover,
#main a:visited,
a:visited {
  color: var(--colors-sea-green, #1a9181) !important;
}

/*--- Paragraphs-Emphasis-Title ---*/
p {
  font-size: var(--fonts-p-nm);
}
.em-text {
  color: var(--colors-sea-green, #1a9181) !important;
}
#title {
  margin-top: 40px;
  font-size: var(--fonts-h1-title);
}

/*--- Jumbotron ---*/
.jumbotron {
  background: var(--img-header) transparent no-repeat bottom;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.jumbotron h1,
.jumbotron p {
  margin-left: 25px;
}

/*--- Prologue ---*/
#tribute-info {
  text-align: center;
  margin-bottom: 30px;
}
#tribute-info h1 {
  font-size: var(--fonts-h1-lg);
}
#tribute-info p {
  font-size: var(--fonts-p-lg);
}

/*--- Articles ---*/
article {
  margin-bottom: 20px;
  float: left;
}
article h2 {
  display: block;
  font-size: var(--fonts-h2-lg);
}
article img {
  margin-bottom: 10px;
  padding-top: 5px;
}

/*--- Video-iframe ---*/
.video {
  border-radius: var(--img-border-radius);
  margin: 10px 20px 10px 0;
}

/*--- Images - figure ---*/
#img-div {
  display: flex;
  flex-direction: column;
  float: left;
  text-align: center;
  font-size: small;
  text-indent: 0;
  margin: 0.1em;
  padding: 0.5em;
}

#img-caption {
  margin-left: -1em;
}

img {
  border-radius: var(--img-border-radius);
  width: var(--img-width);
  margin: 0 auto !important;
}

.img-moebius {
  width: 250px;
}
.img-full {
  width: 100%;
}
.img-left {
  float: left;
  margin-right: var(--img-text-space);
}
.img-right {
  float: right;
  margin-left: var(--img-text-space);
}

/*--- Images - simple css Zoom ---*/
img,
video,
iframe {
  /* Safari and Chrome */
  -webkit-transition: var(--img-zoom-speed);
  /* Firefox */
  -moz-transition: var(--img-zoom-speed);
  /* IE 9 */
  -ms-transition: var(--img-zoom-speed);
  /* Opera */
  -o-transition: var(--img-zoom-speed);
  /* default */
  transition: var(--img-zoom-speed);
}

.img-left:hover,
.img-right:hover,
video:hover,
iframe:hover {
  -webkit-transform: var(--img-zoom-scale);
  -moz-transform: var(--img-zoom-scale);
  -ms-transform: var(--img-zoom-scale);
  -o-transform: var(--img-zoom-scale);
  transform: var(--img-zoom-scale);
}

/*--- Footer ---*/
footer {
  background-color: var(--colors-dark-grey);
  color: var(--colors-light-grey);
  height: 280px;
  margin-top: 5%;
  padding-top: 30px;
}
footer h3,
footer p span {
  padding-bottom: 5px;
  color: var(--colors-sand-white);
}

/*--- Menu Scrolling ---*/
a[id="home"]:target ~ #tribute-info {
  -webkit-transform: var(--browser-translate);
  -moz-transform: var(--browser-translate);
  -ms-transform: var(--browser-translate);
  -o-transform: var(--browser-translate);
  transform: var(--browser-translate);
}
